In [1]:
import pandas as pd
import numpy as np
import os
os.chdir("C:\\Users\\sfrie\\Python\\pandas\\udemy_pandas_files")

In [5]:
#String method calls are built in to pandas. All of the normal string methods in python, are also built into pandas.
names = pd.Series(['andrew','bobo','claire','david','5'])
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [3]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [19]:
tech_finance=['GOOG,APPL,AMZN', 'JPM,BAC,GS']
#By how this data is read in, we only have two elements in this list.
tickers = pd.Series(tech_finance)
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [18]:
#WE would rather there to be splits on the commas though, allowing us to select various inner elements.
print(tickers.str.split(','))
tickers.str.split(',').str[0]
#this returns back the first item of each list.

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

0    GOOG
1     JPM
dtype: object

In [20]:
# We can also make our Series into columns, after we have split the elements.
tickers.str.split(',', expand = True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [24]:
messy_names = pd.Series(['andrew  ', 'bo;bo', '   claire   '])
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [27]:
#In this Series we just created, there is a lot to clean up, and we can do this by stacking str calls, as opposed to creating new lines of code for each cleanup.
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

Always keep in mind, that for more complicated cleanups, we can always run Apply.

In [28]:
def cleanup(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object