In [20]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

In [30]:
df.loc['d', 'score'] = 11.5
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

9.0

In [37]:
df = pd.read_csv(r"C:\Users\sfrie\Ydata_practice\Test_2\attempt2_test2\schools (1).csv")
df.loc[df['Student Achievement Rating'] == 'Exceeding Target'] = 1.0
df

,School Index,District,Lowest Year,Highest Year,School Income Estimate,Average Proficiency Score,Student Attendance Rate,Students Chronically Absent,Rigorous Instruction,Year 3 - All Students Tested,Year 4 - All Students Tested,Year 5 - All Students Tested,Year 6 - All Students Tested,Year 3 - Top Scoring,Year 4 - Top Scoring,Year 5 - Top Scoring,Year 6 - Top Scoring,Student Achievement Rating
0,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1,1,1,1,1,1.0
1,310002,2,PK,5,"$26,114.78",69%,98%,6%,93%,125,106,104,0,8,13,11,0,Meeting Target
2,310003,2,PK,5,"$103,399.19",77%,95%,13%,97%,105,142,61,0,9,44,18,0,Meeting Target
3,310004,6,PK,5,"$34,684.21",56%,92%,33%,91%,103,100,81,0,3,7,1,0,Approaching Target
4,310005,6,0K,5,"$29,783.60",53%,93%,26%,89%,90,90,69,0,0,7,1,0,Approaching Target
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,353080,31,0K,12,"$67,750.03",71%,95%,10%,93%,85,96,106,101,12,10,9,16,Meeting Target
1243,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1,1,1,1,1,1.0
1244,353959,31,6,12,NaN,60%,94%,15%,88%,0,0,0,129,0,0,0,10,Meeting Target
1245,353964,31,0K,8,"$48,091.89",59%,95%,14%,89%,42,36,54,0,4,5,2,0,Approaching Target
1246,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,1,1,1,1,1,1,1,1.0

In [57]:
int(df.loc[df['Year 5 - Top Scoring']== df['Year 5 - Top Scoring'].max(), ['School Index']].values)

331321

In [41]:
df['Year 5 - Top Scoring'].max()

67