### Seriems: Data structure that holds an array with indxed information.

In [1]:
import numpy as np
import pandas as pd

In [2]:
my_index = ['USA', 'Canada', 'Mexico']
my_data = [1776, 1867, 1821]
myser = pd.Series(data =my_data)

myser

0    1776
1    1867
2    1821
dtype: int64

In [3]:
##Pandas series adds on a labeled index to an array, instead of its numerical index.
myser = pd.Series(data = my_data, index = my_index)
#myser = pd.Series(my_data, my_index)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [4]:
myser[0]

1776

In [5]:
#We can also create a series from a dictionary
ages = {'Sam':5, 'Frank':10, 'Spike': 7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [35]:
#Sales data for 1st and 2nd quarters for Global Company.
q1 = {'Japan':80, 'China':450, 'India':200, 'USA' :250}
q2 = {'Brazil':100, 'China':500, 'India': 210, 'USA':260}

dict_values([80, 450, 200, 250])

In [7]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [8]:
print(sales_q1['Japan'])
print(sales_q1[0])

80
80

In [30]:
#To see which keys are available to you:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [39]:
#Since Pandas is built off of a Numpy array, we can perform broadcast operations.
#In regular lists, when we multiply the list by a number, it will double the list:
list = [1,2]*2
list

[1, 2, 1, 2]

In [11]:
#Using numpy, we can broadcast the multiplication onto each element in the list:
np.array([1,2])*2

array([2, 4])

In [12]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [13]:
#This is especially useful for working with two different Series'. What is nice, is that since we have a labeled index, the operations will take the labeled index into account, and not try and do mathematic operations on them:
print(sales_q1)
print(sales_q2)

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
#In q1, Japan is the first row. But in Q2, Brazil is in the first row- an inconsistency in the arrays. Pandas is aware of this though:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [15]:
#We can see though, that it isn't smart enough to know what to do when the Series' don't match up, and just retuns for us Nan values. Therefore, to fill in value where there isn't matching info:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64